/*å®*/
.block-border {
  border: 1px solid #E4CB81;
  border-radius: 20px;
}
.section {
  margin-top: 30px;
}
.page-title {
  margin-top: 45px;
  font-size: 30px;
  font-weight: 300;
  color: #cecece;
  line-height: 29px;
}
.banker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banker .real_time_data {
  width: 56.8%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #E4CB81;
  border-radius: 20px;
}
.banker .data-block {
  font-size: 14px ;
  color: #fff;
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.banker .data-block:nth-child(2n) {
  padding-left: 50px;
}
.banker .data-block:first-child {
  margin-bottom: 30px;
}
.banker .data-block .data-title {
  margin-bottom: 15px;
  color: #C6B073;
  font-weight: normal;
  font-size: 14px ;
}
.banker .data-block .alarm {
  font-size: 24px;
  font-weight: bold;
}
.banker .data-block .alarm img {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 40px;
}
.banker .data-block .data-block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 24px;
  color: #CECECE;
  font-weight: bold;
}
.banker .inner-icon {
  width: 100px;
}
.banker .inner-icon img {
  display: inline-block;
}
.banker .inner-icon span {
  font-size: 14px;
  color: #A8A8A8;
  margin-left: 5px;
}
.banker .data-inner-block {
  padding: 10px 20px;
  border: 1px solid #E4CB81;
  border-radius: 20px;
  background: linear-gradient(32deg, #323232, #4c4d4e);
}
.banker .data-inner-block .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banker .data-inner-block .row:not(:first-child) {
  margin-top: 30px;
}
.banker .data-inner-block .row .data-count {
  display: inline-block;
  color: #CECECE;
  font-size: 30px;
  font-weight: bold;
}
.banker .income {
  width: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  border: 1px solid #E4CB81;
  border-radius: 20px;
}
.banker .income h5 {
  font-size: 14px;
  color: #C6B073;
  margin-bottom: 45px;
}
.banker .income .income_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banker .income .income_block .data-inner-block {
  margin-right: 30px ;
  -webkit-box-flex: 300px;
      -ms-flex: 300px 0 1;
          flex: 300px 0 1;
}
.banker .income .income_block .draw_btn {
  cursor: pointer;
  width: 45px;
  height: 158px;
  background: #e6c36b;
  border-radius: 14px;
  border: none;
  outline: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  line-height: 3em;
}
.illustrate {
  margin-top: 100px;
}
.illustrate h4 {
  color: #E6C36B;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}
.illustrate .illustrate_block {
  color: #fff;
  background: linear-gradient(32deg, #323232, #4c4d4e);
  border: 1px solid #e4cb81;
  opacity: 0.7;
  border-radius: 20px;
  padding: 25px 35px;
  font-size: 15px;
  line-height: 1.5em;
}
.illustrate .illustrate_block .illu_item {
  margin-bottom: 20px;
}
.betx-block {
  margin-top: 40px;
}
.betx-block .block-header {
  border-bottom: 2px solid #D5BD7A;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.betx-block .block-header .block-title {
  font-size: 24px;
  color: #C6B073;
}
.betx-block .block-header .alarm {
  margin-left: 35px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.betx-block .block-header .alarm img {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.betx-block .block-content {
  padding-top: 29px;
}
.betx-block .block-bg-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 1px solid #E4CB81;
  background: linear-gradient(32deg, rgba(50, 50, 50, 0.7), rgba(76, 77, 78, 0.7));
  border-radius: 20px;
  padding: 15px;
}
.run-for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.run-for .run-title {
  font-size: 14px;
  color: #FED575;
  margin-bottom: 12px;
  text-align: left;
}
.run-for .run-declaration {
  width: 500px;
  margin-right: 60px;
}
.run-for .run-declaration .betx-textarea {
  width: 100%;
}
.run-for .run-last {
  font-size: 14px;
  color: #FED575;
  text-align: right;
  padding: 8px 0;
}
.run-for .run-last > span:first-child {
  margin-right: 30px;
}
