.betx-table-wrapper {
  width: 100%;
}
.betx-table-wrapper .betx-table {
  width: 100%;
  border: none;
  color: #FFFFFF;
  border-collapse: collapse;
}
.betx-table-wrapper .betx-table .betx-table-head {
  color: #fff;
}
.betx-table-wrapper .betx-table .betx-table-head th {
  padding: 10px 13px;
  font-weight: normal;
  font-size: 18px;
  border-bottom: 1px solid #E4CB81;
}
.betx-table-wrapper .betx-table .betx-table-body td {
  text-align: center;
  font-size: 15px;
  color: #fff;
  padding: 10px;
}
.betx-table-wrapper .betx-table .betx-table-body .betx-table-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.betx-table-wrapper .betx-table .expand-ico {
  height: 18px;
  display: block;
  margin-left: 20px;
}
.betx-table-wrapper .betx-table-expand {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 17px;
  padding: 18px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
