body {
  background: #02111d;
}
/*自适应*/
.layui-nav-tree .layui-nav-bar {
  width: 5px;
  height: 0;
  background-color: #5e4dff;
}
.layui-layout-admin .layui-header {
  background: #5e4dff;
  height: 70px;
}
.layui-layout-admin .layui-header .logOut {
  width: 20px;
  height: 20px;
}
.layui-layout-admin .layui-header .top-search {
  background: #4b3be1;
  color: #a3d4ff;
  display: inline-block;
  height: 40px;
  border-radius: 50px;
  padding-right: 30px;
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
}
.layui-layout-admin .layui-header .top-search .layui-icon-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.layui-layout-admin .layui-header .top-search input {
  display: block;
  height: 100%;
  color: #fff;
  font-size: 14px;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 10px;
  width: 160px;
}
.layui-layout-admin .layui-header .top-search input::placeholder {
  color: #a3d4ff;
}
.layui-layout-admin .layui-logo .logo-left {
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 20px;
}
.layui-layout-admin .layui-logo .logo-left .img-logo {
  display: inline-block;
  padding-right: 10px;
}
.layui-layout-admin .layui-logo .logo-left .img-logo img {
  display: block;
  width: 58px;
  height: 60px;
}
.layui-layout-admin .layui-logo .title-logo {
  display: inline-block;
  line-height: normal;
  text-align: left;
  padding-left: 10px;
  position: relative;
}
.layui-layout-admin .layui-logo .title-logo:before {
  content: '';
  width: 1px;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 0;
  color: #fff;
  background: #fff;
  display: block;
}
.layui-layout-admin .layui-logo .title-logo h3 {
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
}
.layui-layout-admin .layui-logo .title-logo p {
  font-size: 14px;
}
.layui-layout-admin .layui-layout-left {
  left: 300px;
}
.layui-layout-admin .layui-nav-item {
  line-height: 70px;
}
.layui-layout-admin .layui-side {
  top: 70px;
}
.layui-layout-admin .layui-body {
  top: 70px;
  bottom: 20px;
  padding: 20px;
}
@media screen and (max-width:1400px) {
  .layui-layout-admin .layui-side {
    width: 180px;
  }
  .layui-layout-admin .layui-side .layui-side-scroll {
    width: 180px;
  }
  .layui-layout-admin .layui-side .layui-nav-tree {
    width: 180px;
  }
  .layui-layout-admin .layui-body {
    left: 180px;
    padding: 10px;
  }
}
.layui-bg-black {
  background-color: #1c2237!important;
}
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this > a,
.layui-nav-tree .layui-this > a:hover {
  background-color: #161a2a;
  color: #fff;
}
.layui-nav-tree .layui-nav-item > a {
  color: #00f7ff!important;
}
.total-btn {
  border: none;
  color: #fff;
  font-size: 14px;
  background-image: linear-gradient(360deg, #6056fe 0%, #00b2c9 100%);
  padding: 4px 10px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.broadcast-window {
  display: block;
  position: relative;
  overflow: hidden;
}
.broadcast-window.full-screen-side {
  height: 50%;
  box-sizing: border-box;
}
.broadcast-window.full-screen-side img {
  height: 100%;
}
.broadcast-window.full-screen-side:first-child {
  padding-bottom: 5px;
}
.broadcast-window.full-screen-side:last-child {
  padding-top: 5px;
}
.broadcast-window .top-tag {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  color: #fff;
  background-image: linear-gradient(360deg, #6056fe 0%, #00b2c9 100%);
  opacity: 0.8;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  text-align: center;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  user-select: none;
}
.broadcast-window .broadcast-tag {
  font-size: 12px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-top-left-radius: 8px;
}
.broadcast-window .broadcast-screen {
  width: 100%;
  height: 100%;
}
.broadcast-window .broadcast-screen img {
  display: block;
  width: 100%;
  height: 100%;
}
.chat-room {
  border: 1px solid #00b2c9;
  color: #00b2c9;
  border-radius: 2px;
  margin-bottom: 10px;
}
.chat-room .chat-title {
  font-size: 18px;
  border-bottom: 1px solid #00b2c9;
  padding: 8px 15px;
}
.chat-room .chat-panel {
  position: relative;
  padding-right: 100px;
}
.chat-room .chat-panel .chat-history {
  border-bottom: 1px solid #00b2c9;
  height: 300px;
  overflow-y: auto;
}
.chat-room .chat-panel .say-box {
  padding: 4px 10px;
}
.chat-room .chat-panel .say-box.other-say {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat-room .chat-panel .say-box.other-say .chat-content {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.chat-room .chat-panel .say-box.I-say {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chat-room .chat-panel .say-box.I-say .chat-content {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.chat-room .chat-panel .say-box .chat-content {
  padding: 5px 0;
  overflow: hidden;
}
.chat-room .chat-panel .say-box .chat-content .chat-text {
  font-size: 12px;
  padding: 2px 8px;
  background: #1c1d56;
}
.chat-room .chat-panel .say-box .chat-content .chat-file {
  background: #1c1d56;
}
.chat-room .chat-panel .say-box .chat-content .chat-file .file-content {
  padding: 8px;
  display: flex;
  align-items: center;
}
.chat-room .chat-panel .say-box .chat-content .chat-file .file-content img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.chat-room .chat-panel .say-box .chat-content .chat-file .down-file {
  display: block;
  color: #6dd5ff;
  background: #2e267e;
  text-align: center;
}
.chat-room .chat-panel .say-box .chat-content .chat-img {
  display: block;
  max-width: 150px;
}
.chat-room .chat-panel .say-box .chat-content .chat-voice {
  width: 100px;
  height: 31px;
  background-image: linear-gradient(0deg, #6056fe 0%, #00b2c9 100%), linear-gradient(#e9e9e9, #e9e9e9);
  background-blend-mode: normal,normal;
  border-radius: 15px 0px 10px 15px;
  opacity: 0.8;
  position: relative;
}
.chat-room .chat-panel .say-box .chat-content .chat-voice .voice-bg {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 13px;
}
.chat-room .chat-panel .say-box .chat-content .chat-voice .voice-bg.playing {
  animation: playingNow 1s infinite linear;
}
@keyframes playingNow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.chat-room .chat-panel .say-box .chat-name {
  font-size: 12px;
}
.chat-room .chat-panel .chat-other {
  border-bottom: 1px solid #00b2c9;
  padding: 8px 20px;
}
.chat-room .chat-panel .chat-other button {
  cursor: pointer;
  margin-right: 20px;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
}
.chat-room .chat-panel .chat-other button img {
  height: 22px;
}
.chat-room .chat-panel .chat-other button.file-btn input {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.chat-room .chat-panel .chat-input {
  position: relative;
}
.chat-room .chat-panel .chat-input textarea {
  width: 100%;
  border: none;
  box-sizing: border-box;
  background: transparent;
  color: #00b2c9;
  height: 150px;
  resize: none;
  padding: 10px;
}
.chat-room .chat-panel .chat-input .sendBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.chat-room .chat-panel .chat-member {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 99px;
  box-sizing: border-box;
  border-left: 1px solid #00b2c9;
}
.chat-room .chat-panel .chat-member .member-title {
  border-bottom: 1px solid #00b2c9;
  padding: 8px 15px;
  position: relative;
}
.chat-room .chat-panel .chat-member .member-title:before {
  content: "";
  display: block;
  width: 2px;
  height: 8px;
  background: #00b2c9;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
.chat-room .chat-panel .chat-member .member-list {
  padding: 8px 15px;
  line-height: 1.5em;
}
@media screen and (max-width:1400px) {
  .chat-room .chat-title {
    font-size: 16px;
  }
  .chat-room .chat-panel {
    padding-right: 73px;
  }
  .chat-room .chat-panel .chat-history {
    height: 250px;
  }
  .chat-room .chat-panel .chat-member {
    width: 75px;
    font-size: 12px;
  }
  .chat-room .chat-panel .chat-input textarea {
    height: 100px;
  }
  .chat-room .chat-panel .chat-other {
    padding: 8px 10px;
  }
  .chat-room .chat-panel .chat-other button img {
    height: 16px;
  }
}
.case-info {
  font-size: 12px;
  padding: 10px;
  border: 1px solid #00b2c9;
  color: #00b2c9;
  border-radius: 2px;
  position: relative;
}
.case-info .info-lists li {
  list-style: circle inside;
  line-height: 1.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 96%;
}
.case-info .detail-btn {
  position: absolute;
  bottom: 8px;
  right: 10px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: transparent;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5e4dff;
}
.broadcast-video-iframe {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
.broadcast-video-iframe .full-screen {
  height: 100%;
}
.layui-layer-content .info-lists {
  padding: 10px;
}
.layui-layer-content .info-lists li {
  white-space: normal;
  padding: 4px 0;
}
